<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../images/open-book-book-svgrepo-com.svg">
    <link rel="stylesheet" href="../../bookclub/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Βιβλιοθήκη</title>
</head>
<body class="bg-white"
    style="font-family: 'Advent Pro', sans-serif;">
    {{>header}}
    {{>error}}
    {{{body}}}
    {{>footer}}
    <script  src="../../js/main.js"></script>
    <script src="../../js/links.js"></script>
</body>
</html>