<div class="container container-sm text-start my-5 fs-3 text-secondary bg-white">
    <p>
        Η εφαρμογή "Βιβλιολέσχη" αναπτύχθηκε στα πλαίσια του σεμιναρίου
        "Ανάπτυξη διαδικτυακών εφαρμογών με node.js" από το <a herf="https://mathesis.cup.gr/"> Mathesis.cup</a>.
        Εισηγητές του σεμιναρίου ήταν οι καθηγητές Χρήστος Σιντόρης και Νίκος Αβούρης. Η εφαρμογή βασίστηκε τόσο στα
        βιντεομαθήματα και τις σημειώσεις του μαθήματος όσο και στο αποθετήριο <a
            href="https://github.com/sintoris/web3-mathesis-code">https://github.com/sintoris/web3-mathesis-code</a>
    </p>
    <p>
        Στην εφαρμογή μπορεί κανείς να εγγραφεί ως χρήστης. Στη συνέχεια να αποθηκεύει σε μία βάση δεδομένων
        βιβλία που έχει διαβάσει και να καταθέτει μία κριτική (σχόλιο). Κάθε χρήστης μπορεί να βλέπει τα σχόλια
        άλλων χρηστών για το ίδιο βιβλίο.
    </p>
    <p>
        Γίνεται αξιοποίηση του ΣΔΒΔ PostesSQL, καθώς και πολλών βιβλιοθηκών της node.js μεταξύ των οποίων και οι:
        <ul class="list-group list-group-flush">
            <li class="list-group-item">express</li>
            <li class="list-group-item">sequelize</li>
            <li class="list-group-item">express-handlebars (για templates)</li>
            <li class="list-group-item">express-session</li>
            <li class="list-group-item">bcrypt</li>
            <li class="list-group-item">express-validator</li>
            <li class="list-group-item">memorystore</li>
            <li class="list-group-item">pg</li>
            <li class="list-group-item">postgres</li>
        </ul>
    </p>
    <p>
        Για τα στυλ της παρούσας εφαρμογής χρησιμοποιήθηκαν compiled αρχεία της bootstrap με τη βοήθεια του εργαλείου parcel.
    </p>
</div>